

<div class="container">
  <div class="row">

    <div>
     <ion-title size="large" class="titulo" >Comience hoy a gestionar su vehiculo</ion-title>
    </div>

  </div>
  

    <div>
      <ion-input
        label="Gmail"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su Gmail"
      ></ion-input>

      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su contraseña"
        type="password"
      ></ion-input>
    </div>

    <div>
        <ion-button shape="round" class="inicio">Iniciar sesion</ion-button>
    </div>

    <div>
      <ion-button shape="round" class="registrar">Crear cuenta</ion-button>
    </div>


  </div>
