<div class="container">
    <div class="titu"> 
     <ion-text>Comienza hoy a gestionar tu vehiculo</ion-text>
    </div>



    <div class="container1">

        <ion-input>
          
        </ion-input>

        <ion-input
          label="Gmail"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese su Gmail"
        ></ion-input>
  
        <ion-input
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese su contraseña"
          type="password"
        ></ion-input>
        
        <div>
          <ion-button shape="round" class="inicio">Iniciar sesion</ion-button>
      </div>
     
  
      
    </div>



    <div class="registrar">
      <ion-chip color="primary" routerLink="./registro.component">Crear cuenta</ion-chip>
    </div>

</div>

 

 


 

