.titulo {
  font-size: x-small;
  color:#97cadb;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin-top: 20%;
  margin-bottom: 20%;
}

ion-input {
  margin-top: 10px;
}

.inicio {
  text-align: center;
  height: max-content;
  width: max-content;
  border-radius: 10px;

}


.registrar {
  text-align: center;
  color: white;
  height: max-content;
  width: max-content;
  border-radius: 10%;

}