<div class="container">
    <div class="titu">
     <ion-text>Comienza hoy a gestionar tu vehiculo</ion-text>
    </div>


    <div class="container1">

        <ion-input>

        </ion-input>

        <ion-input [(ngModel)]="usuarios.email" label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su Email"> </ion-input>

        <ion-input [(ngModel)]="usuarios.contrasena" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña" type="password"> </ion-input>

        <div>
          <ion-list style="text-align:center">
            <ion-button (click)="iniciar()">Iniciar sesion</ion-button>
        </ion-list>
      </div>



    </div>



    <div class="registrar">
      <ion-chip color="primary"  routerLink="/registro">Crear cuenta</ion-chip>
    </div>

</div>








