h2{
    text-align: center;
}

.lista-input{
    justify-content: center;
    align-items: center!important;
}

ion-input{
    margin-top: 10px;
}

ion-button{

   --background: #97CADB;

    --color: white
}
.container{
    margin-top: 20%;
}

