<div class="container">
  <div class="row">

    <h2 style="color: #97CADB;">Registre su vehiculo</h2>

    <div class="container1">

      <ion-list class="lista-input">

        <ion-input label="Ingrese un nombre para su vehiculo" label-placement="floating" fill="outline"
          placeholder=""></ion-input>


          <ion-input label="Ingrese patente" label-placement="floating" fill="outline" placeholder=""></ion-input>

          <ion-input label="Ingrese marca" label-placement="floating" fill="outline" placeholder=""></ion-input>

         <ion-input label="Ingrese tipo de combustible" label-placement="floating" fill="outline"
          placeholder=""></ion-input>


      </ion-list>

    </div>

    <div class="container2">

      <ion-list style="text-align:center">

        <ion-button>CONTINUAR</ion-button>

      </ion-list>

    </div>





  </div>

</div>