row{//cambiar fondo
    background-color: #97CADB;
   }
  
  .abs-center { //centrar todo el carrusel, no img
    display: flex;
    align-items: center;//centre
    justify-content: center;
    min-height: 100vh;
  }
  
  
  .carousel-inner{
  
      line-height: 100px;
      text-align: center;
      vertical-align: middle;
  
  }
  
  
  p{
    margin-top: 5px;
  
    font-size: medium;
    line-height: normal;
   
    color: white;
  
  
  }
  h2{
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  //.carousel-indicators{
   //margin-top: 70;
   //margin-bottom: 10;
  //}
  
  ion-button{
    position: relative;
      margin-top: 150%;
    --background: #ffffff;
    --color: #97CADB;
    
  
  }