<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FormCombustible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FormCombustible</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>



  <!-- <form [formGroup]="FormCombustible">

    <ion-item>
      <ion-input type="text" formControlName="titulo"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Fecha de hoy" type="text" formControlName="fecha"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="¿Con cuanto llenaste el tanque?" type="text" formControlName="litros"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Tipo de combustible" type="text" formControlName="tipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="¿Cuanto gastaste?" type="number" formControlName="gasto"></ion-input>
    </ion-item>
  </form> -->
