.ilist{
    justify-content: center;
    align-items: center!important;
    }

h2{
    text-align: center;
}

ion-button {
    --background: #97CADB;
  
    --color: white;
  
  
  }

ion-input{
    margin-top: 10px;
}



.boton-guardar{
    margin-left: 50%;
   
}