<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>COMBUSTIBLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COMBUSTIBLE</ion-title>
    </ion-toolbar>
  </ion-header>


  <div [formGroup]="Mcombustible" class="formulario">

    <ion-list inset class="ilist">
  
      <h2 style="color: #97CADB;"></h2>

      <ion-input  type="date" label="Ingrese fecha" label-placement="floating" fill="outline" placeholder="" ></ion-input>
  
      <ion-input label="Ingrese tipo de combustible" label-placement="floating" fill="outline" placeholder=""></ion-input>
  
      <ion-input  label="Ingrese litros cargados" label-placement="floating" fill="outline" placeholder=""></ion-input>
    
      <ion-input  label="Ingrese su gasto $" label-placement="floating" fill="outline" placeholder="" required></ion-input>
        
      
  
    
      
    </ion-list>
  
    <ion-list style="text-align:center">
  
      <ion-button >GUARDAR</ion-button>
  
    </ion-list>
  
   </div>
</ion-content>
