ion-fab-button {
  --background: rgba(151, 202, 219, 0.122);
  --background-activated: rgb(255, 255, 255);
  --background-hover: #132a84;
  --border-radius: 15px;
  --color: #02457a;
  --height: 40px;
}
