
  <ion-content class="ion-padding">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="menucito">
            <ion-icon name="home-outline"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="">
            <ion-icon name="add"></ion-icon>
            <ion-fab>
              <ion-fab-button>
              <ion-icon name="add"></ion-icon>
              </ion-fab-button>

              <ion-fab-list side="top">
              <ion-fab-button>
              <ion-icon name="time-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
              <ion-icon name="receipt-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
              <ion-icon name="map-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
              <ion-icon name="color-fill-outline"></ion-icon>
              </ion-fab-button>
              </ion-fab-list>
              </ion-fab>
          </ion-tab-button>


          <ion-tab-button tab="conducir">
            <ion-icon name="car-sport-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>

    <!--<ion-grid>
       <ion-row>
        <ion-col><ion-button fill="clear" id="casa"><ion-icon name="home-outline"></ion-icon></ion-button></ion-col>

           <ion-col><ion-fab>
           <ion-fab-button>
           <ion-icon name="add"></ion-icon>
           </ion-fab-button>

           <ion-fab-list side="top">
           <ion-fab-button>
           <ion-icon name="time-outline"></ion-icon>
           </ion-fab-button>
           <ion-fab-button>
           <ion-icon name="receipt-outline"></ion-icon>
           </ion-fab-button>
           <ion-fab-button>
           <ion-icon name="map-outline"></ion-icon>
           </ion-fab-button>
           <ion-fab-button>
           <ion-icon name="color-fill-outline"></ion-icon>
           </ion-fab-button>
           </ion-fab-list>
           </ion-fab></ion-col>

        <ion-col><ion-button fill="clear" id="auto"><ion-icon name="car-sport-outline"></ion-icon></ion-button></ion-col>
       </ion-row>
     </ion-grid>  -->




