


  <ion-content class="ion-padding" class="tab">
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="menucito">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-fab>
          <ion-fab-button id="open-custom-dialog" size="small" >
            <ion-icon name="add"></ion-icon>
              <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
                <ng-template>

                  <div class="wrapper">
                    <h1>Notas</h1>


                    <div> <!--aca estamos creando dos items en un dv para en cada uno poner dos iconos como botones para las notasy adjjuntarlos en el modal-->
                      <ion-button>
                        <ion-icon name="map-outline"></ion-icon>
                      </ion-button>

                      <ion-button id="modalCombustible">
                        <ion-icon name="receipt-outline"></ion-icon>
                      </ion-button>

                      <ion-button>
                        <ion-icon name="speedometer-outline"></ion-icon>
                      </ion-button>

                      <ion-button>
                        <ion-icon name="today-outline"></ion-icon>
                      </ion-button>
                    </div>

                  </div>
                </ng-template>
              </ion-modal>

          </ion-fab-button>
        </ion-fab>


        <ion-tab-button tab="conducir" class="tab">
          <ion-icon name="car-sport-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>








    <ion-content class="ion-padding">
      <ion-modal trigger="modalCombustible" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Welcome</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input  type="text" [(ngModel)]="titulo"> </ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Fecha de hoy" type="text" [(ngModel)]="fecha"> </ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="¿Con cuanto llenaste el tanque?" type="text" [(ngModel)] = "litros"></ion-input>
            </ion-item>

          <ion-item>
            <ion-input placeholder="Tipo de combustible" type="text" [(ngModel)] = "tipo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="¿Cuanto gastaste?" type="number" [(ngModel)] = "gasto"  ></ion-input>
          </ion-item>





          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>








