<ion-content class="ion-padding" class="tab">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
<!-- boton casita-->
      <ion-tab-button tab="menucito">
        <ion-icon name="home-outline" style="color: #97cadb;"></ion-icon>
      </ion-tab-button>
   <!--boton más (+)-->
      <ion-fab>
        <ion-fab-button id="open-custom-dialog" size="small">
          <ion-icon name="add"></ion-icon>


        </ion-fab-button>
      </ion-fab>

 <!--Boton conducir-->
      <ion-tab-button tab="conducir" class="tab">
        <ion-icon name="car-sport-outline" style="color: #97cadb;"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



    <!--NOTAS-->
   <ion-modal  class="modalsito" id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>

      <div class="wrapper">
        <h1>Notas</h1>


        <div>
          <!--aca estamos creando dos items en un dv para en cada uno poner dos iconos como botones para las notas y adjjuntarlos en el modal-->
          <!--Boton RECORDATORIOS-->
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button class="ubi" (click)="cerrarModal()" routerLink="/form-gastos" >
                <ion-icon name="receipt-outline"></ion-icon>
              </ion-button>
              <p class="textoB">Gastos</p> 
            </ion-col>
              <ion-col class="text-center">
                <ion-button  class="ubi" (click)="cerrarModal()" routerLink="/form-combustible">
                <ion-icon name="speedometer-outline"> </ion-icon>
              </ion-button>
                <p class="textoB">Combustibles</p> 
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <ion-grid>
            <ion-row>
              <ion-col>
                 <ion-button class="ubi" (click)="cerrarModal()" routerLink="/form-viaje">
                <ion-icon name="map-outline"></ion-icon>
              </ion-button>
              <p class="textoB">Viajes</p>
            </ion-col>
              <ion-col class="text-center"> 
                 <ion-button class="ubi" (click)="cerrarModal()" routerLink="/form-recordatorio">
                <ion-icon  name="today-outline"></ion-icon>
               </ion-button> 
               <p class="textoB">Recordatorios</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </div>

      </div>
    </ng-template>
  </ion-modal> 






  
  
  <!--Boton GASTOS-->
 
 <!--Boton COMBUSTIBLE-->
 


 <!--Boton VIAJES-->


 

