ion-fab-button {
  --background: #000000ce00ce;
  --background-activated: #1c1a1a;
  --background-hover: #5f74c7;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px 1px rgba(205, 199, 233, 0.15);
  --color: #104152;
  --height: 40px;
  overflow:auto !important;
}
