
<div class="container">
  <div class="row">
   
     <div class="ilist">
      <ion-input  label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su Email"> </ion-input>

      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña" type="password"> </ion-input>

      <div>
        <ion-list style="text-align:center">
       <ion-button  routerLink="/reconocimiento">Iniciar sesion</ion-button>
      </ion-list>
    </div>
     </div>

  </div>
</div>
