<div class="container1">
  <div class="row">
    
    <!--FORMULARIO VISUALIZAR PROPIEDADES EN REGISTRO-AUTO-->
    <div class="formulario-editar-auto" style="text-align: center;" >
      <ion-list inset class="ilist">

        <h2 style="color: #97CADB;">Edite las propiedades de su vehiculo</h2>
        
          <!--NOMBRE-->
          <ion-item>
            <ion-input formControl="nombre" type="text" label="Nombre:"></ion-input>
          </ion-item>
         <!--PATENTE-->
          <ion-item>
            <ion-input formControl="patente"  type="text" label="Patente:"></ion-input>
          </ion-item>
          <!--MARCA:-->
          <ion-item>
            <ion-input formControl="marca" type="text" label="Marca:"></ion-input>
          </ion-item>
          <!--TIPO COMBUSTIBLE-->
          <ion-item>
            <ion-input  formControl="combustible"  type="text" label="Tipo de combustible:"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input  formControl="combustible"  type="text" label="Tipo de combustible:"></ion-input>
          </ion-item>

      </ion-list>
  

      <ion-list style="text-align:center">
        <ion-button  size="default" routerLink="/menu" >GUARDAR CAMBIOS</ion-button>
      
      </ion-list>
      
    </div>
    
    
  </div>

</div>
