
<div class="container">
  <div class="map-area">
    <iframe src="https://www.google.com/maps/d/embed?mid=1trinsuMWlOJ5P4SrJDM4U5IQnjxgW8Y&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
  </div>
</div>



<div class="ubicacion">
   
  <h4>Gomerias</h4>
  <h4>Estaciones de servicio</h4>
  <h4>Talleres</h4>
  <h4>Lavaderos</h4>

</div>


<div>
<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/carrusel">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</div>

