.container {
    //cambiar fondo
    background-color: #97CADB !important;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;

}

.row {
    //cambiar fondo
    background-color: #97CADB;
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacios debajo de la imagen */
    margin: 0 auto; 
}

img {
    padding-top: 20%;
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacios debajo de la imagen */
    margin: 0 auto; 

}

h1 {
    color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;

}


ion-button {
    color: white;
    text-align: center;
    padding-bottom: 10%;
    justify-content: center;
}