.container{
    //cambiar fondo
    background-color: #97CADB;
}
img{
padding-top: 10%;

}
h1{
    color: white;
    text-align: center; 
    padding-top: 3%;
   padding-bottom: 3%;

}
p{
    color: white;
    text-align: center;
    padding-bottom: 50%;
}