<div class="conteiner">
  <div class="row">
    <div class="abs-center">

       <!--Comienza carrusel-->
      <div id="carouselExampleCaptions" class="carousel slide">
        <!--Indicadores, son cuatro  "- - - -" 
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"> </button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>-->
        
        
        <!--especificacin de las diapositivas-->
        <div class="carousel-inner">

          <div class="carousel-item active ">
            <img src="../../../../../assets/Imagenes/recordatorios.png" alt="Primer imagen">
            <h2>Recordatorios</h2>
            <p>Notificaciones que te ayuda a gestionar tu vehiculo. no te olvides de nada, confia en guardar..</p>

          </div>

          <div class="carousel-item ">
            <img src="../../../../../assets/Imagenes/confidencialidad.png" alt="Tercer  imagen">
            <h2>Confidencialidad</h2>
            <p>La seguridad no sera un problema para la gestion de su vehiculo.</p>

          </div>

          <div class="carousel-item ">
            <img src="../../../../../assets/Imagenes/mapa.png" alt="Cuarta imagen">
            <h2>Mapa</h2>
            <p>No hay manera de que se quede sin gasolina o taller para arreglar su coche.</p>
          </div>
          <div>
            <ion-button routerLink="/login">Comenzar</ion-button>
            </div>
          
        </div>
        <!--Iconos "< >" -->
       
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        

      </div>

      
    
    </div>
  
  </div>
  

</div>