<ion-header>
  <ion-toolbar>
    <ion-title>CONFIGURACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <ion-text class="texto1">Nombre y apellido</ion-text>
  </div>
  <div>
    <ion-text class="texto2">Fecha de nacimiento</ion-text>
  </div>
  <div>
    <ion-text class="texto3">Contraseña</ion-text>
  </div>
  <div>
    <ion-text class="texto4">Correo electronico</ion-text>
  </div>
  <div>
    <ion-text class="texto5">Estado de la cuenta</ion-text>
  </div>
  <div>
    <ion-text class="texto6">Preguntas frecuentes ？</ion-text>
  </div>


</ion-content>
