ion-content{
    --ion-background-color:#02457A;
}

ion-header{
    color: white;
}

ion-title{
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.textorellenar{
    margin-right: 5%;
    color: white;
    
}

.boton1{
    margin-left: 115%;
    color: white;
    top: 50%;
    

}

.texto{
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 30px;
    margin-left: 3%;
}


