<ion-header>
  <ion-toolbar>
    <ion-title>CONFIGURACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<div class="container1">
    <div class="row">
      <!--FORMULARIO VISUALIZAR PROPIEDADES EN REGISTRO-AUTO-->
      <div class="" style="text-align: center;"  >
        <ion-list inset class="ilist">
  
          <h2 style="color: black;">Edite sus datos de usuario</h2>
          <div >
           
              <!--NOMBRE-->
              <ion-item>
                <ion-input   label="Nombre:" placeholder=""></ion-input>
                <!-- <ion-input   formControlName="nombre" type="text" label="Nombre:">{{col.nombre}}</ion-input> -->
              </ion-item>
             <!--PATENTE-->
              <ion-item>
                <ion-input  label="Email:" placeholder=""></ion-input>
                <!-- <ion-input   formControlName="patente" type="text" label="Patente:">{{col.patente}}</ion-input> -->
              </ion-item>
              <!--MARCA:-->
              <ion-item>
                <ion-input   label="Contraseña:" placeholder=""></ion-input>
                <!-- <ion-input   formControlName="marca"  type="text" label="Marca:">{{col.marca}}</ion-input> -->
              </ion-item>
              <!--TIPO COMBUSTIBLE-->
              <ion-item>
                <ion-input  label=" Fecha de nacimiento:" placeholder=""></ion-input>
                <!-- <ion-input formControlName="combustible" type="text"  label="Combustible:">{{col.combustible}}</ion-input> -->
              </ion-item>
  
          </div>
        </ion-list>


     <ion-list style="text-align:center">
          <ion-button  size="default" routerLink="/menu" >CONFIRMAR CAMBIOS</ion-button>
        
        </ion-list>
  
        <ion-list  style="text-align:center">
          <ion-button class="boton-cerrarsesion" size="default" routerLink="/menu" >CERRAR SESIÓN</ion-button>
        
        </ion-list>
        
      </div>
      
      
    </div>
  
  </div>








  

  <!-- <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Nombre y apellido</p>
      </ion-text> 
    </ion-col>
    <ion-col size="5" class="ion-text-right">
      <ion-button fill="clear" class="boton1" id="open-modal">></ion-button>
       <p class="textorellenar">{{ message }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Fecha de nacimiento</p>
      </ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
       <ion-button fill="clear" class="boton1" id="open-modal1">></ion-button>
       <p class="textorellenar">{{ message1 }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Contraseña</p>
      </ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
       <ion-button fill="clear" class="boton1" id="open-modal">></ion-button>
       <p class="textorellenar">{{ message2 }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Correo electronico</p>
      </ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
       <ion-button fill="clear" class="boton1" id="open-modal">></ion-button>
       <p class="textorellenar">{{ message3 }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Estado de la cuenta</p>
      </ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
       <ion-button fill="clear" class="boton1" id="open-modal">></ion-button>
       <p class="textorellenar"></p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-left">
      <ion-text class="ion-margin-bottom" class="texto">
        <p>Preguntas frecuentes ？</p>
      </ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-right">
       <ion-button fill="clear" class="boton1" id="open-modal">></ion-button>
       <p class="textorellenar"></p>
    </ion-col>
  </ion-row>


</ion-content>
<ion-modal #modal_ trigger="open-modal1" (willDismiss)="onWillDismiss1($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel1()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm1()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Ingrese su fecha de nacimiento"
          labelPlacement="stacked"
          type="text"
          placeholder=""
          [(ngModel)]="fecha"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
<ng-template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input
        label="Ingrese su nombre"
        labelPlacement="stacked"
        type="text"
        placeholder=""
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>
  </ion-content>
</ng-template>
</ion-modal> -->