.ilist{//lista de imputs
    justify-content: center;
    align-items: center!important;
    }

h2{//titulo de la page
    text-align: center;
    margin-top: 10%;
}

ion-button {
    --background: #97CADB;
  
    --color: white;
  
  
  }

.form-control{
    margin-top:20px;

}