<div class="container">
  <div class="row">

    <div class="titulo">
      <ion-text> Edite propiedades del vehiculo </ion-text>
    </div>

    <!--comienzan propiedades a editar-->
    <div class="container-Nombre">

      <!--modal para propiedad NOMBRE-->
      <ion-content class="ion-padding">

        <ion-button id="open-modal" expand="block">Nombre</ion-button>
        <p>{{ message }}</p>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>

            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>

                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <ion-item>
                <ion-input label="Editar Nombre" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="name"></ion-input>
              </ion-item>
            </ion-content>

          </ng-template>
        </ion-modal>
      </ion-content>
    </div>


    <div class="container-Patente">
      <!--comienza porpiedad PATENTE -->

      <ion-content class="ion-padding">

        <ion-button id="open-modal" expand="block">Patente</ion-button>
        <p>{{ message }}</p>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss1($event)">
          <ng-template>

            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel1()">Cancelar</ion-button>
                </ion-buttons>

                <ion-buttons slot="end">
                  <ion-button (click)="confirm1()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <ion-item>
                <ion-input label="Editar Patente" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="patente"></ion-input>
              </ion-item>
            </ion-content>

          </ng-template>
        </ion-modal>
      </ion-content>

    </div>


    <div class="container-Marca">
      <!--comienza porpiedad MARCA -->

      <ion-content class="ion-padding">

        <ion-button id="open-modal" expand="block">Marca</ion-button>
        <p>{{ message }}</p>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss2($event)">
          <ng-template>

            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>

                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <ion-item>
                <ion-input label="Editar Marca" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="marca"></ion-input>
              </ion-item>
            </ion-content>

          </ng-template>
        </ion-modal>
      </ion-content>
    </div>

    <div class="container-TipoCombustible">
      <!--comienza porpiedad TIPPO COMBUSTIBLE -->
      <ion-content class="ion-padding">

        <ion-button id="open-modal" expand="block">Tipo de Combustible</ion-button>
        <p>{{ message }}</p>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss3($event)">
          <ng-template>

            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>

                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
              <ion-item>
                <ion-input label="Editar Tipo de Combustible" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]=" tipocombustible"></ion-input>
              </ion-item>
            </ion-content>

          </ng-template>
        </ion-modal>
      </ion-content>

          
    </div>




    <div class="container2">

      <ion-list style="text-align:center">

        <ion-button>GUARDAR</ion-button>

      </ion-list>

    </div>


  </div>
</div>