h1{
    text-align: center;
    margin-top: 10%;
}

.listaa-input{
    justify-content: center;
    align-items: center!important;
}

ion-input{
    margin-top: 10px;
}

ion-button{

   --background: #97CADB;

    --color: white
}

.container{
    margin-top: 30%; //bajen de abajo
    margin-bottom: 10%; //dejen espacio abajo
    position: relative; //no se vuelva a sobrepongan inputs
}
.container1{
    margin-top:10% ;
    margin-bottom: 10%;
    position: relative;
}
.container2{
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
}