<div class="container">
  <div class="row">

    <div class="titulo">
      <ion-text> Edite propiedades del vehiculo </ion-text>
    </div>

    <!--comienzan propiedades a editar-->
    <div class="container-Editar">

      <ion-content class="ion-padding">

        <ion-button id="open-modal" expand="block" >Ediar</ion-button>
        <p>{{ message }}</p>

        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>

            <ion-header>
              <ion-toolbar>
               <!--BOTON CANCELAR-->
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
               <!-- BOTON CONFIRMAR-->
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            
            

            <!--Imputs-->
            <ion-content class="ion-padding">

               <!---NOMBRE-->
              <ion-item>
                <ion-input label="Editar Nombre" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="name"></ion-input>
              </ion-item>
                
               <!---PATENTE-->
              <ion-item>
                <ion-input label="Editar Patente" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="patente"></ion-input>
              </ion-item>
              <!---MARCA-->
              <ion-item>
                <ion-input label="Editar Marca " labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="marca"></ion-input>
              </ion-item>
               <!---TIPO DE COMBUSTIBLE-->
              <ion-item>
                <ion-input label="Editar Tipo de Combustible" labelPlacement="stacked" type="text" placeholder=""
                  [(ngModel)]="tcombustible"></ion-input>
              </ion-item>
            </ion-content>

          </ng-template>
          
        </ion-modal>
      </ion-content>
    </div>
    
    <!--BOTON GUARDAR-->
    <div class="container2">

      <ion-list style="text-align:center">

        <ion-button>GUARDAR</ion-button>

      </ion-list>

    </div>


  </div>
</div>