<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GASTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GASTOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div [formGroup]="Mgastos" class="formulario">

    <ion-list inset class="ilist" >
  
      <h2 style="color: #97CADB;"></h2>
      
      <ion-input  type="date" label="Ingrese fecha" formControlName="fecha" label-placement="floating" fill="outline" placeholder="" ></ion-input>
  
      <ion-input  label="Ingrese nombre del articulo" formControlName="nombreArticulo"  label-placement="floating" fill="outline" placeholder=""></ion-input>
  
      <ion-input  label="Ingrese precio del producto" formControlName="precio" label-placement="floating" fill="outline" placeholder=""></ion-input>
    

    </ion-list>
  
    <ion-list style="text-align:center">
  
      <ion-button (click)="agregarGastos()" routerLink="/menu">GUARDAR</ion-button>
  
    </ion-list>
  
   </div>

</ion-content>
