<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>conducir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">conducir</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <img src="../../../../../assets/Imagenes/autoConducir1.avif" alt="">

  <div class="stopwatch pt-3 ion-text-center">

    <h1 class="color-white font-lg">
      <p> Duración del viaje </p>
      <ion-icon name="stopwatch"></ion-icon> {{time}}
    </h1>
    <ion-grid class="ion-text-center">
      <ion-row class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <ion-button class="boton" (click)="start()">{{ 'Empezar' }}</ion-button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <ion-button class="boton"  (click)="stop()">{{ 'Finalizar'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
