<div class="container">

  <div class="row">

<ion-col>
<ion-col>
<ion-avatar style="margin: 0 auto;">
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
</ion-col>
</ion-col>



<div class="formulario">

  <ion-list inset class="ilist">

    <h2 style="color: #97CADB;">Cree su cuenta</h2>

    <ion-input label="Ingrese su gmail" label-placement="floating" fill="outline" placeholder=""></ion-input>
  
    <br>
  
    <ion-input label="Ingrese nombre y apellido" label-placement="floating" fill="outline" placeholder=""></ion-input>
 
    <br>
  
    <ion-input type="text" label="Ingrese fecha de nacimiento" label-placement="floating" fill="outline" placeholder=""></ion-input>
  
    <br>
  
    <ion-input type="password" label="Crear contraseña" label-placement="floating" fill="outline" placeholder=""></ion-input>
    
  </ion-list>

</div>

  </div>

</div>





